[user]
	name = Andras Banki-Horvath
	email = bhandras@gmail.com
	signingkey = 094198D8

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[merge]
    tool = nvim.diffview 
    conflictstyle = diff3

[mergetool]
    prompt = false
    keepBackup = false
    trustExitCode = false
    hideResolved = true

[mergetool "smerge"]
    cmd = smerge -n mergetool \"$BASE\" \"$REMOTE\" \"$LOCAL\" -o \"$MERGED\"

[mergetool "nvim.diffview"]
    cmd = nvim -c DiffviewOpen

[diff]
    tool = nvim.diffview 
    colorMoved = default

[difftool]
    prompt = false

[difftool "nvim.diffview"]
    cmd = nvim -c DiffviewOpen

[core]
    pager = env LESS="" delta --paging always
    editor = nvim

[interactive]
    diffFilter = env LESS="" delta --color-only --paging always

[delta]
    navigate = true
    side-by-side = true
    light = true

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
