[user]
	name = Andras Banki-Horvath
	email = bhandras@gmail.com
	signingkey = 094198D8

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[merge]
    tool = nvimdiff1
    conflictstyle = diff3

[mergetool "smerge"]
    cmd = smerge mergetool --no-wait \"$BASE\" \"$REMOTE\" \"$LOCAL\" -o \"$MERGED\"

[mergetool "meld"]
    cmd = meld \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output \"$MERGED\" --label \"MERGE (REMOTE BASE MY)\"

[mergetool]
    prompt = false
    keepBackup = false
    trustExitCode = false
    hideResolved = true

[diff]
    tool = nvimdiff
    colorMoved = default

[difftool]
    prompt = false

[core]
    pager = env LESS="" delta --paging always
    editor = nvim

[interactive]
    diffFilter = env LESS="" delta --color-only --paging always

[delta]
    navigate = true
    side-by-side = true
    light = true

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
